<div class="container">
    <form (submit)="onLoginSubmit($event)" [formGroup]="loginForm">

        <div class="mb-3">
          <label for="email-id" class="form-label">Adresse Email</label>
          <input id="email-id" formControlName="email" type="email" class="form-control">
          <p class="error" 
             *ngIf="loginForm.controls['email'].invalid && isSubmitted">
            email ou mot de passe invalide
          </p>
        </div>
        
        <div class="mb-3">
          <label for="pwd-id" class="form-label">Mot de passe</label>
          <input id="pwd-id" formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
          <p class="error" 
             *ngIf="loginForm.controls['password'].hasError('required') 
                    && isSubmitted">
            email ou mot de passe invalide
          </p>
        </div>
        
        <button type="submit" class="btn btn-primary">Se Connecter</button>
    
    </form>
</div>
