<div class="container">
    <form (submit)="onRegisterSubmit($event)" [formGroup]="registerForm">

        <div class="mb-3">
            <label for="username-id" class="form-label">Nom d'utilisateur (*obligatoire)</label>
            <input id="username-id" formControlName="userName" class="form-control" type="text">
            <p class="error" 
               *ngIf="registerForm.controls['userName'].invalid && isSubmitted">
              Nom d'utilisateur obligatoire
            </p>
        </div>

        <div class="mb-3">
          <label for="pwd-id" class="form-label">Mot de passe (*obligatoire)</label>
          <input id="pwd-id" formControlName="password" type="password" class="form-control">
          <div id="pwd-HelpBlock" class="form-text">
            Votre mot de passe doit contenir 8 caractères ou plus, des lettres, chiffres and caractères spéciaux
          </div>
          <p class="error" 
             *ngIf="registerForm.controls['password'].hasError('required') 
                    && isSubmitted">
            mot de passe invalide
          </p>
        </div>

        <div class="mb-3">
          <label for="email-id" class="form-label">Adresse Email (*obligatoire)</label>
          <input id="email-id" formControlName="email" type="email" class="form-control">
          <p class="error" 
             *ngIf="registerForm.controls['email'].invalid && isSubmitted">
            email invalide
          </p>
        </div>

        <div class="mb-3">
            <label for="firstname-id" class="form-label">Prénom</label>
            <input id="firstname-id" formControlName="firstName" class="form-control" type="text">
        </div>

        <div class="mb-3">
            <label for="lastname-id" class="form-label">Nom</label>
            <input id="lastname-id" formControlName="lastName" class="form-control" type="text">
        </div>      
                
        <button type="submit" class="btn btn-primary">S'inscrire</button>
        
    </form>
</div>
