<mat-slide-toggle [(ngModel)]="checked" (click)="changed($event)" [title]="checked ?'Déjà vu' : 'A voir'"></mat-slide-toggle>
<!-- <mat-slide-toggle [(ngModel)]="checked" (change)="changed()" [title]="checked ?'Déjà vu' : 'A voir'"></mat-slide-toggle> -->
<!-- <mat-slide-toggle (confirmation)="saveConfirm($event)" [(ngModel)]="checked" (change)="changed()" [title]="checked ?'Déjà vu' : 'A voir'"></mat-slide-toggle> -->
<!-- <mat-slide-toggle [(ngModel)]="checked" (toggleChange)="changed2(this.checked)" [title]="checked ?'Déjà vu' : 'A voir'"></mat-slide-toggle> -->
