<div class="text-center mb-3 mt-3">
    <i class="fas fa-film fa-2x"></i> <h2><a routerLink="/movies">Les Films</a></h2>
</div>
<div class="row">
    <div *ngFor="let movie of movies" class="col-12 col-md-3">
        <div class="card">
            <img [src]="movie.image_landscape != null ? (movie.image_landscape | printImg) : './assets/img/noimage.png'"
                 [alt]="movie.title" 
                 [routerLink]='["/details", movie.id, movie.type, ((movie.id | isInCatalog:movie.type) ? "out" : "in"), "catalog"]'>
            <div class="card-body">
                <div class=" d-flex align-items-center justify-content-between">
                    <h2 [routerLink]='["/details", movie.id, movie.type, ((movie.id | isInCatalog:movie.type) ? "out" : "in"), "catalog"]'>
                        {{movie.title}}
                    </h2>
                    <ng-template [ngIf]="isInCatalog(movie.id) === true" [ngIfElse]="inCatalog">
                        <button (click)="onClickAddMovie(movie.id)" class="btn btn-light" 
                                title="Ajouter un film dans mon catalogue">
                            <i class="fas fa-plus"></i>
                        </button>
                    </ng-template>
                    <ng-template #inCatalog>
                        <button (click)="onClickAddMovie(movie.id)" class="btn btn-light" 
                                title="Supprimer un film dans mon catalogue">
                            <i class="fas fa-minus"></i>
                        </button>
                    </ng-template>
                </div>
                <app-stars [componentType]="'display'" [score]="movie.rating"></app-stars>
            </div>
        </div>
    </div>
</div>