<div class="text-center mb-3">
    <i class="fas fa-film fa-2x"></i> <h2><a routerLink="/movies">Les Films</a></h2>
</div>
<div class="row">
    <div *ngFor="let movie of movies" class="col-12 col-md-3">
        <div class="card">
            <img [src]="movie.image_landscape | printImg" [alt]="movie.title" [routerLink]='["/details"]' [queryParams]="{id: movie.id, type: movie.type}">
            <div class="card-body">
                <div class=" d-flex align-items-center justify-content-between">
                    <h2 [routerLink]='["/details"]' [queryParams]="{id: movie.id, type: movie.type}">{{movie.title}}</h2><button (click)="onClickAddMovie(movie.id)" class="btn btn-light"><i class="fas fa-plus"></i></button>
                </div>
                <app-stars [score]="movie.rating"></app-stars>
            </div>
        </div>
    </div>
</div>