.entete {
    position: sticky;
    z-index: 1;
    top:0;
    display: block;
    padding: 10px 15px;
    background-color: #eee;
}
.width40 {
    width: 40%;
}
h1 {
    margin:0px
}
.btnMenu {
    border: 0px;
    border-radius: 4px;
    background-color: white;
    padding: 8px 14px;
}
img {
    box-shadow: 2px 2px 5px #c4bdbd00;
}

.backgroundColorAndMargin{
    background: #a6a6a6;
    margin: 0 0 15px 0;
}