<nav class="navbar entete">
  <div class="d-flex justify-content-between align-items-center">
      <a routerLink="/" class="navbar-brand"><h1>EpiTrack</h1></a>
      <div>
        <button class="btnMenu" [matMenuTriggerFor]="menu">Le Catalogue</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item  routerLink="/movies"><a class="navbar-brand">Les films</a></button>
          <button mat-menu-item routerLink="/series"><a class="navbar-brand">Les séries</a></button>
        </mat-menu>
        <button class="btnMenu" [matMenuTriggerFor]="menu2">Mon Catalogue</button>
        <mat-menu #menu2="matMenu">
          <button mat-menu-item routerLink="/user/movies"><a class="navbar-brand">Mes films</a></button>
          <button mat-menu-item routerLink="/user/series"><a class="navbar-brand">Mes séries</a></button>
        </mat-menu>
      </div>
      <app-searchbar class="width40"></app-searchbar>
      <div>
        Bonjour
        <button routerLink="/login" class="btn btn-light"><i class="fas fa-user"></i></button>
      </div>
  </div>
</nav>
<router-outlet></router-outlet>