<div class="text-center mb-2 mt2">
    <i class="fas fa-tv fa-2x"></i> <h2><a routerLink="/user/series">Mes Series</a></h2>
</div>
<div class="row">
    <div *ngFor="let userserie of series" class="col-12 col-md-3">
        <div class="card">
            <img [src]="userserie.serie.image_landscape != null ? (userserie.serie.image_landscape | printImg) : './assets/img/noimage.png'"
                 [alt]="userserie.serie.title" 
                 [routerLink]='["/details", userserie.serie.id, "Serie", "in", "userCatalog"]'>
            <div class="card-body">
                <div class=" d-flex align-items-center justify-content-between">
                    <h2 [routerLink]='["/details", userserie.serie.id, "Serie", "in", "userCatalog"]'>
                        {{userserie.serie.title}}
                    </h2>
                    
                    <!-- <div> -->
                        <!-- <button type="button" class="btn" -->
                                <!-- (click)="updateStatusOfUserSerie(userserie.id,'WATCHED')"  -->
                                <!-- [class.btn-info]="userserie.status=='WATCHED'"  -->
                                <!-- [class.btn-light]="userserie.status!='WATCHED'" -->
                                <!-- [disabled]="userserie.status=='WATCHED'"> -->
                            <!-- Déjà Vu</button> -->
                        <!-- <button type="button" class="btn" -->
                                <!-- (click)="updateStatusOfUserSerie(userserie.id,'UNWATCHED')"  -->
                                <!-- [class.btn-info]="userserie.status=='UNWATCHED'" -->
                                <!-- [class.btn-light]="userserie.status!='UNWATCHED'" -->
                                <!-- [disabled]="userserie.status=='UNWATCHED'"> -->
                            <!-- A voir</button> -->
                    <!-- </div> -->
                    
                    <app-toggle [status]="userserie.status" 
                                [userVideoId]="userserie.id"
                                videoType="SERIE">
                                <!-- (statusEvent)="updateUserSerieList($event)" -->
                    </app-toggle>
                </div>
                <app-stars [componentType]="'display'" [score]="userserie.userRating"></app-stars>

            </div>
        </div>
    </div>
</div>
