<div *ngIf="loaded" class="container-fluid">
    <ng-template [ngIf]="type === 'Movie'" [ngIfElse]="seriesTpl">
        <div class="col-md-12 bg-white">
            <div class="row">
                <div class="col-md-2 p-4">
                    <img [src]="movie.image_portrait | printImg" [alt]="movie.title" class="img-fluid img-thumbnail">
                </div>
                <div class="col-md-10 p-4 d-flex flex-column">
                    <h2 class="mb-0">{{movie.title}}</h2>
                    <div class="mb-auto"><app-stars [score]="movie.rating"></app-stars></div>
                    <p class="mb-auto"><strong>Résumé : </strong>{{movie.overview}}</p>
                    <p class="mb-auto"><strong>Date de diffusion : </strong>{{movie.release_date}}</p>
                    <p class="mb-auto"><strong>Genres : </strong> <span *ngFor="let genre of movie.genres">
                        {{genre.name}} 
                    </span></p>
                    <p class="mb-auto"><strong>Acteurs : </strong> <span *ngFor="let actor of movie.actors">
                        {{actor.name}}
                    </span></p>
                </div>
            </div>
        </div> 
    </ng-template>
    
    <ng-template #seriesTpl>
        <div class="col-md-12 bg-white mb-3">
            <div class="row">
                <div class="col-md-2 p-4">
                    <img [src]="serie.image_portrait | printImg" [alt]="serie.title" class="img-fluid img-thumbnail">
                </div>
                <div class="col-md-10 p-4 d-flex flex-column">
                    <h2 class="mb-0">{{serie.title}}</h2>
                    <div class="mb-auto"><app-stars [score]="serie.rating"></app-stars></div>
                    <p class="mb-auto"><strong>Résumé : </strong>{{serie.overview}}</p>
                    <p class="mb-auto"><strong>Date de diffusion : </strong>{{serie.release_date}}</p>
                    <p class="mb-auto"><strong>Genres : </strong> <span *ngFor="let genre of serie.genres">
                        {{genre.name}} 
                    </span></p>
                    <p class="mb-auto"><strong>Acteurs : </strong> <span *ngFor="let actor of serie.actors">
                        {{actor.name}}
                    </span></p>
                </div>
            </div>
        </div> 

        <div class="col-md-12 bg-white mb-3">
            <div class="row">
                <div id="seasonPart" class="p-4">
                    <h2 class="">Saisons</h2>
                    <!-- <div class="row justify-content-center">
                        <div *ngFor="let season of serie.seasons" class="col-md-2">
                            <div class="card">
                                <img class="img-fluid img-thumbnail" [src]="season.imageUrl | printImg" [alt]="season.title">
                                <div class="card-body text-center">
                                    <p>{{season.title}}</p>            
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="row row-cols-8 g-0 justify-content-center">
                        <div *ngFor="let season of serie.seasons" class="col mb-3">
                            <div class="card customWidth" (click)="onClickSeasonCard($event,season.seasonNumber)" >
                                <img class="card-img-top" [src]="season.imageUrl | printImg" [alt]="season.title">
                                <div class="card-body text-center">
                                    <h5 class="card-title ellipse" [title]="season.title">{{season.title}}</h5>            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <div class="col-md-12 bg-white">
            <div class="row">
                <div id="episodesPart" class="p-4">
                    <h2 class="">Saison {{activeSeason.seasonNumber}}</h2>
                    <div class="row justify-content-center">
                        <div *ngFor="let episode of activeSeason.episodes" class="col-md-2 mb-3">
                            <div class="card">
                                <img class="img-fluid img-thumbnail" [src]="episode.imageUrl | printImg" [alt]="episode.title">
                                <div class="card-body text-center">
                                    <span>{{activeSeason.seasonNumber}} - {{episode.episodeNumber}}</span><p>{{episode.title}}</p>            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>    