/* #seasonPart div.card{
    width: 60%;
} */

#episodePart div.card{
    width: 60%;
}

.customWidth {
    width: 160px;
}

.ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.inlineFlex {
    display: inline-flex;
}

.customPaddingRight {
    padding-right: 5px;
}

.collapsible {
    /* border: 1px solid #ccc;
    padding: 10px; */
    cursor: pointer;
}

.short-text {
    display: block;
}

.full-text {
    display: none;
}

.collapsible.open .full-text {
    display: block;
}

.collapsible.open .short-text {
    display: none;
}

.customFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

