@import 'bootstrap/dist/css/bootstrap.min.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';

body {
    background: #eee!important;
    margin: 0px;
}

html, body { 
    height: 100%; 
}
